# This file should be committed to version control as a template for other developers.
# Copy this file to .env and fill in the values for your local development environment.

DATABASE_URL="your_mongodb_connection_string"
NEXTAUTH_JWT_SECRET="your_nextauth_jwt_secret"
NEXTAUTH_SECRET="your_nextauth_secret"
